
# Created by https://www.toptal.com/developers/gitignore/api/python,django,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=python,django,pycharm

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### Pycharm ###
.idea

### Python ###

# Unit test / coverage reports

# Django stuff:
envs